body {
   text-align: center; 
   background-color: lightblue;
}

h1 {
    font-size: 85px;
    color:steelblue;
    font-weight:bolder;
}

h2,h4{
    font-size: 25px;
    color: steelblue
}

input {
    height: 95px;
    width: 95px;
    margin: 2px;
    font-size: 45px;
    color:rgb(183, 197, 238); 
    background-color: rgb(7, 23, 104);
    border: 10px solid rgb(28, 27, 27);
    border-radius: 35px;
}

input:hover {
    background-color: rgb(85, 140, 194)
}

.container input {
    vertical-align: top;
}

#reset {
    width: 250px;
    height: 75px;
    font-size: 35px;
    margin-top: 20px;
    color:rgb(183, 197, 238);
}